<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-12">
      <p>Variants <small><a href="https://getbootstrap.com/docs/5.0/components/navs-tabs/" target="blank">Show Bootstrap Documentation</a></small></p>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Default</small>
      <section>
        {{> @nav--example1}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Center</small>
      <section>
        {{> @nav--example2}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Right</small>
      <section>
        {{> @nav--example3}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Tab</small>
      <section>
        {{> @nav--example4}}
      </section>
    </div>
  </div>
</div>
