<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-12">
      <p>Variants <small><a href="https://getbootstrap.com/docs/5.0/components/buttons/" target="blank">Show Bootstrap Documentation</a></small></p>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Default</small>
      <section>
        {{> @button--example1}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Outline</small>
      <section>
        {{> @button--example2}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-4">
      <small>Large</small>
      <section>
        {{> @button--example3}}
      </section>
    </div>
    <div class="col-s-4">
      <small>Small</small>
      <section>
        {{> @button--example4}}
      </section>
    </div>
    <div class="col-s-4">
      <small>Disabled </small>
      <section>
        {{> @button--example5}}
      </section>
    </div>
  </div>
</div>
