:root:not(.dark) {
  --background-color: #{$color--white};
  --background-color-neg: #{$color--black-80};
  --background-color-20: #{$color--black-20};
  --background-color-20-neg: #{$color--black-80};
  --background-color-60: #{$color--black-60};
  --background-color-60-neg: #{$color--black-40};
  --font-color: #{$color--black-80};
  --font-color-neg: #{$color--white};
  --primary-color: #{$color--blue-20};
  --primary-color-neg: #{$color--blue-80};
}

:root.dark {
  --background-color: #{$color--black-80};
  --background-color-neg: #{$color--white};
  --background-color-20: #{$color--black-80};
  --background-color-20-neg: #{$color--black-20};
  --background-color-60: #{$color--black-40};
  --background-color-60-neg: #{$color--black-60};
  --font-color: #{$color--white};
  --font-color-neg: #{$color--black-80};
  --primary-color: #{$color--blue-80};
  --primary-color-neg: #{$color--blue-20};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: $document--font-size;
  line-height: 1.6;
  height: 100%;
  margin: 0;

  // Is needed for a "sticky footer".
  >main {
    min-height: calc(100vh - 22.9rem); // REM value is a sum of header + footer + footer margin.
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;

  // Viewport overlay handling
  &.viewport-freeze {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
  }

  &::after {
    content: '';
    display: block;
    position: fixed;
    z-index: 400;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    opacity: 0;
    background: rgba($color--black, 0.32);
    transition: opacity 300ms ease-in-out;
  }

  &.overlay {
    &::after {
      max-height: 100%;
      opacity: 1;
    }
  }

  // Importing CSS Breakpoints Into JavaScript
  // https://www.lullabot.com/articles/importing-css-breakpoints-into-javascript
  &::before {
    content: 'mobile';
    // Prevent from displaying.
    display: none;
  }

  @media screen and (min-width: #{$mq-m}) {
    &::before {
      content: 'tablet';
    }
  }

  @media screen and (min-width: #{$mq-l}) {
    &::before {
      content: 'desktop';
    }
  }
}

// Image box rendering fix to prevent white line below <img> tag
section {
  line-height: 0;

  &>* {
    line-height: 1;
  }
}

#back-to-top {
  padding: 6.9rem 0 0;
  display: block;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.hidden {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.area-layout-1 {
  padding: 7rem 0 8rem;
  background-color: $color--black-20;
}
