<p>Active CSS breakpoint: <mark id="breakpoint"></mark></p>
<script>
function printBreakpoint() {
    document.getElementById('breakpoint').innerText = window.breakpoint();
}
window.addEventListener('resize', printBreakpoint);
setTimeout(printBreakpoint, 200);
</script>