<img class='objectfit-example' src='https://picsum.photos/800/600/?random&blur'>
<style>
/** Check out Docu: https://www.npmjs.com/package/object-fit-images */

.objectfit-example {
    width: 100%;
    height: 400px;
    background-color: lightgray;
    /* polyfill [start] */
    object-fit: contain; /* standard declaration */
    font-family: 'object-fit: contain;'; /* polyfill declaration */
    /* polyfill [end] */
}
</style>