<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
    <div class="col-s-12">
        <small>Breakpoint Bridge</small>
        <section>{{> @layout--breakpoint-bridge}}</section>
    </div>
    <div class="col-s-12">
        <small>Element Queries</small>
        <div class="row">
          <div class="col-s-12 col-m-6">
            <small>Element Query (Orientation point is parent stage)</small>
            <section>{{> @layout--element-queries}}</section>
          </div>
          <div class="col-s-12 col-m-6">
            <small>Breakpoint (Orientation point is viewport)</small>
            <section>{{> @layout--align-left}}</section>
          </div>
        </div>
    </div>
    <div class="col-s-12">
        <small class='copy-to-clipboard' data-clipboard='align-left'>Aligment left</small>
        <section>{{> @layout--align-left}}</section>
        
        <small class='copy-to-clipboard' data-clipboard='align-center'>Aligment center</small>
        <section>{{> @layout--align-center}}</section>

        <small class='copy-to-clipboard' data-clipboard='align-right'>Aligment right</small>
        <section>{{> @layout--align-right}}</section>
    </div>
    <div class="col-s-12">
        <small>Objectfit (Polyfill for browser)</small>
        <section>{{> @layout--objectfit}}</section>
    </div>
</div>