<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row color-list"></div>
  <div style="display: none;" id="colors-source">{{colors}}</div>
</div>
