.color-items {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 0;

  &.is-main {
    float: left;
    width: 50%;
  }

  &.has-childs {
    clear: both;
  }

  .color-item {
    border: .1rem solid $color--black-20;
    margin: .5rem;
    padding: 1rem;
    flex-grow: 1;

    &.level-0 {
      flex-grow: 10;
      display: flex;
      flex-direction: row-reverse;

      section,
      aside {
        flex: 1;
        height: 100%;
      }
    }

    @media (min-width: 30rem) {
      flex-basis: 7rem;
    }

    @media (min-width: 60rem) {
      flex-basis: 14rem;
    }

    section {
      display: block;
      width: 100%;
      max-height: 100px;

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }

    aside {
      padding-right: .5rem;

      h3 {
        font-weight: 400;
        line-height: 1.1;
        font-size: 1rem;
        font-weight: 700;
      }

      p {
        font-weight: 400;
        line-height: 1.1;
        font-size: 1rem;
        margin-bottom: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
