$menu-bar-height: 7rem;

body {
  padding-top: $menu-bar-height;
}

.pageheader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: $menu-bar-height;
  background-color: var(--background-color-neg);

  .stage {
    margin-top: -1rem;
  }

  .stage,
  .row,
  .row > div {
    height: 100%;
  }
}

.pageheader-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100% + 1rem);
}

.pageheader-logo {
  display: flex;
  align-items: center;
  color: var(--font-color-neg);
  font-size: 4rem;

  a {
    color: inherit;
  }
}

.pageheader-nav {
  color: var(--font-color-neg);
  height: 100%;
  display: flex;

  ul {
    display: flex;
    height: 100%;
  }

  li {
    height: 100%;

    &.current {
      font-weight: $font--weight-bold;

      a {
        background-color: var(--background-color-60);
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem;
    color: inherit;
    text-decoration: none;
    transition: color, background-color .3s ease-in-out;
    font-size: 1.6rem;

    &:hover {
      background-color: var(--background-color-60);
    }
  }
}

.pageheader-subnavigation {
  color: var(--font-color-neg);
  height: 100%;

  nav {
    height: 100%;
  }

  ul {
    display: flex;
    height: 100%;
  }

  li {
    height: 100%;
    position: relative;
  }

  .navigation .navigation {
    position: absolute;
    top: 100%;
    display: none;
    opacity: 0;
    height: auto;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: var(--background-color-20);

    li {
      margin: 0;
    }
  }

  li:hover {
    > .navigation {
      opacity: 1;
      display: block;
    }
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem;
    color: inherit;
    text-decoration: none;
    transition: color, background-color .3s ease-in-out;
    font-size: 2.4rem;

    &:hover {
      background-color: var(--background-color-60);
    }
  }
}
