<header class="pageheader">
  <div class="stage">
    <div class="row">
      <div class="col-12">
        <div class="pageheader-wrap">
          <div class="pageheader-logo">
            <a href="/" title="logo">
              {{> @icon--svg pageheader-logo}}
            </a>
          </div>

          {{> @navigation--navlist pageheader-nav}}

          <aside class="pageheader-subnavigation">
            <nav>
              <ul class="navigation" role="navigation">
                <li>
                  <a href="/" title="Language">
                    {{> @icon--svg pageheader-language}}
                  </a>
                  <ul class="navigation" role="navigation">
                    <li>
                      <a href="/" title="Language">
                        {{> @icon--svg pageheader-language}}
                      </a>
                    </li>
                    <li>
                      <a href="/" title="Language">
                        {{> @icon--svg pageheader-language}}
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/" title="User">
                    {{> @icon--svg pageheader-user}}
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </div>
  </div>
</header>