<template>
  <footer class="pagefooter">
    <div class="stage">
      <div class="row">
        <div class="col-12 col-m-4">
          <p>
            <a href="/" title="Logo" class="pagefooter-logo">
              <icon id="defaults--user"></icon>
            </a>
          </p>
          <p v-text="parsedProps.text"></p>
        </div>
        <div class="col-12 col-m-8">
          <navigation :items="parsedProps.mainNav" main-class="pagefooter-nav"></navigation>
        </div>
        <div class="col-12">
          <sub class="pagefooter-sub">
            <span>&copy; Firegroup 2022</span>
            <navigation :items="parsedProps.subNav" main-class="pagefooter-subnav"></navigation>
          </sub>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
import HostStyle from "../../00-mixins/host-style.vue";
import ParseProps from "../../00-mixins/parse-props.vue";

import Icon from "../../01-partials/vue-icon/icon.vue";
import Navigation from "../../01-partials/vue-navigation/navigation.vue";

export default {
  name: "Pagefooter",
  components: {
    Icon,
    Navigation,
  },
  mixins: [
    HostStyle,
    ParseProps,
  ],
  data: () => ({ }),
  methods: {},
  mounted() { }
};
</script>
