<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>JSF Pagefooter (Standard)</small>
      <section>
        {{> @vue-pagefooter--standard}}
      </section>
    </div>
  </div>
</div>