<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-12">
      <p>Variants <small><a href="https://getbootstrap.com/docs/5.0/components/badge/" target="blank">Show Bootstrap Documentation</a></small></p>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Default</small>
      <section>
        {{> @badge--example1}}
      </section>
    </div>
  </div>
</div>
