<template>
    <nav>
        <ul class="navigation" :class="mainClass" role="navigation">
            <li v-for="(item, index) in items" :class="{ current: item.current, active: item.active }">
                <a role="link" :href="item.target" :title="item.title" class="link link-text">
                    <icon v-if="item.icon" :id="item.icon"></icon>
                    <span v-if="item.label" role="note" class="label label-text">
                        <span class="label-inner-wrap">
                            <span v-text="item.label"></span>
                        </span>
                    </span>
                </a>
                <ul v-if="item.childs && item.childs.length" class="navigation" role="navigation">
                    <li v-for="(child, index) in item.childs" :class="{ current: child.current, active: child.active }">
                        <a role="link" :href="child.target" :title="child.title" class="link link-text">
                            <icon v-if="child.icon" :id="child.icon"></icon>
                            <span v-if="child.label" role="note" class="label label-text">
                                <span class="label-inner-wrap">
                                    <span v-text="child.label"></span>
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>

<script>

import Icon from "../../01-partials/vue-icon/icon.vue";

export default {
    name: 'Navigation',
    components: {
        Icon,
    },
    props: {
        items: {
            type: Object,
        },
        mainClass: {
            type: String,
            default: null,
        }
    },
    data: function () {
        return {}
    },
    methods: {},
    mounted() { }
}
</script>
