.button-primary {
  color: $color--white;
  background-color: $color--blue;
  cursor: pointer;

  &::before {
    background-color: $color--black-80;
  }

  &:active {
    transform: scale(.95);
  }
}
