.label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  i {
    position: relative;
    width: auto;
    display: inline-block;

    svg {
      position: relative;
      top: .2rem;
    }
  }

  .label-inner-wrap {
    display: flex;
    flex-direction: column;
    // text-align: center;
  }

  &.label--align-left {
    justify-content: flex-start;
  }

  &.label--align-right {
    justify-content: flex-end;
  }

  &.icon-pos-before {
    i {
      order: 1;
    }

    span {
      order: 2;
      padding-left: 1rem;
    }
  }

  &.icon-pos-after {
    i {
      order: 2;
    }

    span {
      order: 1;
      padding-right: 1rem;
    }
  }

  &.icon-pos-before-absolute {
    padding-left: 3em;

    i {
      position: absolute;
      left: 0.95em;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.icon-pos-after-absolute {
    padding-right: 3em;

    i {
      position: absolute;
      right: 0.95em;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.bold {
    span {
      font-weight: bold;
    }
  }

  &.align-left {
    justify-content: flex-start;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }
}

.label-primary {
  color: $color--blue;
}
