.label-slider {
  overflow: hidden;
  position: relative;

  span {
    z-index: 10;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 200ms, color 200ms;
  }

  // Slider Positioning
  &-top {
    &::before {
      transform: translateY(-100%);
    }

    &:hover {
      &::before {
        transform: translateY(0%);
      }
    }
  }

  &-bottom {
    &::before {
      transform: translateY(100%);
    }

    &:hover {
      &::before {
        transform: translateY(0%);
      }
    }
  }

  &-right {
    &::before {
      transform: translateX(100%);
    }

    &:hover {
      &::before {
        transform: translateX(0%);
      }
    }
  }

  &-left {
    &::before {
      transform: translateX(-100%);
    }

    &:hover {
      &::before {
        transform: translateX(0%);
      }
    }
  }

  // Slider Coloring
  &-white {
    &::before {
      background-color: $color--white;
    }

    &:hover {
      strong {
        color: $color--black;
      }
    }
  }

  &-black {
    &::before {
      background-color: $color--black;
    }

    &:hover {
      strong {
        color: $color--white;
      }
    }
  }

  &-primary {
    &::before {
      background-color: $color--blue;
    }

    &:hover {
      strong {
        color: $color--white;
      }
    }
  }
}
