{{#with label}}
<label
  role="note"
  {{#if label-for}}for="{{label-for}}"{{/if}}
  class="label {{#with icon}}label-icon icon-pos-{{icon-pos}}{{/with}} {{#if label-text}}label-text{{/if}} {{#if label-slider}}label-slider label-slider-{{label-slider}}{{/if}} {{label-class}}"
  {{#if label-error}}data-error="{{label-error}}"{{/if}}
  {{{label-attr}}}
>
  {{> @icon--svg}}
  <span class="label-inner-wrap">
    {{#if label-text}}
      <span>{{{label-text}}}</span>
    {{/if}}
    {{#if label-subtext}}
      <sub>{{{label-subtext}}}</sub>
    {{/if}}
  </span>
</label>
{{/with}}
