<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Element: Span</p>
    </div>
    <div class="col-s-2">
      <small>Text</small>
      <section>
        {{> @label--span label-text}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon</small>
      <section>
        {{> @label--span label-icon}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left</small>
      <section>
        {{> @label--span label-icon-left}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right</small>
      <section>
        {{> @label--span label-icon-right}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left absolut</small>
      <section>
        {{> @label--span label-icon-left-abs}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right absolut</small>
      <section>
        {{> @label--span label-icon-right-abs}}
      </section>
    </div>
    <div class="col-12">
      <p>Color</p>
    </div>
    <div class="col-s-2">
      <small>Text</small>
      <section>
        {{> @label--span label-text-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon</small>
      <section>
        {{> @label--span label-icon-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left</small>
      <section>
        {{> @label--span label-icon-left-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right</small>
      <section>
        {{> @label--span label-icon-right-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left absolut</small>
      <section>
        {{> @label--span label-icon-left-color-abs}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right absolut</small>
      <section>
        {{> @label--span label-icon-right-color-abs}}
      </section>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <p>Element: Label</p>
    </div>
    <div class="col-s-2">
      <small>Text</small>
      <section>
        {{> @label--label label-text}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon</small>
      <section>
        {{> @label--label label-icon}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left</small>
      <section>
        {{> @label--label label-icon-left}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right</small>
      <section>
        {{> @label--label label-icon-right}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left absolut</small>
      <section>
        {{> @label--label label-icon-left-abs}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right absolut</small>
      <section>
        {{> @label--label label-icon-right-abs}}
      </section>
    </div>
    <div class="col-12">
      <p>Color</p>
    </div>
    <div class="col-s-2">
      <small>Text</small>
      <section>
        {{> @label--label label-text-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon</small>
      <section>
        {{> @label--label label-icon-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left</small>
      <section>
        {{> @label--label label-icon-left-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right</small>
      <section>
        {{> @label--label label-icon-right-color}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon left absolut</small>
      <section>
        {{> @label--label label-icon-left-color-abs}}
      </section>
    </div>
    <div class="col-s-2">
      <small>Icon right absolut</small>
      <section>
        {{> @label--label label-icon-right-color-abs}}
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>Label Slides</p>
    </div>
    <div class="col-s-3">
      <small>Slide top text</small>
      <section>
        {{> @label--label label-text-slide-top}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide top icon</small>
      <section>
        {{> @label--label label-icon-slide-top}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide top text icon</small>
      <section>
        {{> @label--label label-text-icon-slide-top}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide top text icon absolut</small>
      <section>
        {{> @label--label label-text-icon-slide-top-abs}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide right text</small>
      <section>
        {{> @label--label label-text-slide-right}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide right icon</small>
      <section>
        {{> @label--label label-icon-slide-right}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide right text icon</small>
      <section>
        {{> @label--label label-text-icon-slide-right}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide right text icon absolut</small>
      <section>
        {{> @label--label label-text-icon-slide-right-abs}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide bottom text</small>
      <section>
        {{> @label--label label-text-slide-bottom}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide bottom icon</small>
      <section>
        {{> @label--label label-icon-slide-bottom}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide bottom text icon</small>
      <section>
        {{> @label--label label-text-icon-slide-bottom}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide bottom text icon absolut</small>
      <section>
        {{> @label--label label-text-icon-slide-bottom-abs}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide left text</small>
      <section>
        {{> @label--label label-text-slide-left}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide left icon</small>
      <section>
        {{> @label--label label-icon-slide-left}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide left text icon</small>
      <section>
        {{> @label--label label-text-icon-slide-left}}
      </section>
    </div>
    <div class="col-s-3">
      <small>Slide left text icon absolut</small>
      <section>
        {{> @label--label label-text-icon-slide-left-abs}}
      </section>
    </div>
  </div>
</div>
