{{#with label}}
<label
  role="note"
  {{#if label-for}}for="{{label-for}}"{{/if}}
  class="label {{#with icon}}label-icon{{/with}} {{#if label-text}}label-text{{/if}} {{label-class}}"
  {{#with icon}}icon-pos="{{icon-pos}}"{{/with}}
  {{#if label-error}}data-error="{{label-error}}"{{/if}}
  {{{label-attr}}}
>
  {{> @icon--svg}}
  {{#if label-text}}
    <span>{{{label-text}}}</span>
  {{/if}}
</label>
{{/with}}
