.navigation-group {
  background-color: $color--black-20;
  border-radius: .8rem;
  padding: .4rem;
  max-width: 30rem;

  ul {
    li {
      background-color: $color--white;
      padding-left: .4rem;
      padding-right: .4rem;

      a {
        display: flex;
      }

      &:first-child {
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;
      }

      &:last-child {
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
      }
    }
  }

  ul.navigation {
    padding: .8rem;
  }

  a {
    padding: .2rem .4rem;
  }

  .link {
    .label-icon {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 20rem;
  
      span {
        background-color: $color--black-80;
        color: $color--white;
        border-radius: 1.6rem;
        padding: .4rem 1.2rem;
        min-width: 7rem;
      }
    }
  }

  .label:not(.label-icon) {
    span {
      font-weight: $font--weight-regular;
    }
  }
  
  .navigation .link:hover,
  .navigation .active .link-text {
    color: $color--blue;
    padding-left: 1.2rem;
    position: relative;
    
    > .label::before {
      content: '';
      position: absolute;
      left: -1.6rem;
      display: inline-block;
      border: .8rem solid $color--black-20;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      width: .4em;
      height: .4em;
    }
  }
}