// Fonts
@mixin font-face($name, $filepath, $weight: normal, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    // temporary disabled
    // src: url($filepath + '.eot');
    // src: url('#{$filepath}.eot?#iefix') format('embedded-opentype'),
    //     url('#{$filepath}.woff2') format('woff2'),
    //     url('#{$filepath}.woff') format('woff'),
    //     url('#{$filepath}.ttf') format('truetype'),
    //     url('#{$filepath}.svg##{$name}') format('svg');
    // temporary enabled
    src: url($filepath + '.ttf');
    src: url('#{$filepath}.ttf') format('truetype'),
        url('#{$filepath}.woff2') format('woff2'),
        url('#{$filepath}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-stretch: normal;
  }
}

// https://fonts.google.com/
@include font-face(
  "Ubuntu",
  "../fonts/Ubuntu-Light",
  $font--weight-light,
  normal
);
@include font-face(
  "Ubuntu",
  "../fonts/Ubuntu-LightItalic",
  $font--weight-light,
  italic
);
@include font-face(
  "Ubuntu",
  "../fonts/Ubuntu-Regular",
  $font--weight-regular,
  normal
);
@include font-face(
  "Ubuntu",
  "../fonts/Ubuntu-Italic",
  $font--weight-regular,
  italic
);
@include font-face(
  "Ubuntu",
  "../fonts/Ubuntu-Medium",
  $font--weight-medium,
  normal
);
@include font-face(
  "Ubuntu",
  "../fonts/Ubuntu-MediumItalic",
  $font--weight-medium,
  italic
);
@include font-face("Ubuntu", "../fonts/Ubuntu-Bold", $font--weight-bold, normal);
@include font-face(
  "Ubuntu",
  "../fonts/Ubuntu-BoldItalic",
  $font--weight-bold,
  italic
);
@include font-face(
  "Gloria Hallelujah",
  "../fonts/GloriaHallelujah",
  $font--weight-regular,
  normal
);
