<div class="container font-list">
  <div class="row pattern-showroom">
    <div class="col-12">
      <p>Variants</p>
    </div>
    {{#each items}}
    <div class="col-xs-12 col-s-6 col-m-4 col-l-3">
      <section>
        <small>{{family}}</small>
        {{#each ../sizes}}
        <p>
          <span style="font-family:{{../family}}; font-weight:{{../weight}}; font-size:{{size}};">Aa</span>
          <i style="font-family:{{../family}}; font-weight:{{../weight}}; font-size:{{size}};">Aa</i>
        </p>
        <small>{{../label}}, {{size}}</small>
        {{/each}}
      </section>
    </div>
    {{/each}}
  </div>
</div>