<template>
  <header class="pageheader">
    <div class="stage">
      <div class="row">
        <div class="col-12">
          <div class="pageheader-wrap">
            <div class="pageheader-logo">
              <a :href="parsedProps.rootUrl" title="Logo">
                <icon id="defaults--user"></icon>
              </a>
            </div>

            <navigation :items="parsedProps.mainNav" main-class="pageheader-nav"></navigation>

            <aside class="pageheader-subnavigation">
              <navigation :items="parsedProps.subNav"></navigation>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import HostStyle from "../../00-mixins/host-style.vue";
import ParseProps from "../../00-mixins/parse-props.vue";

import Icon from "../../01-partials/vue-icon/icon.vue";
import Navigation from "../../01-partials/vue-navigation/navigation.vue";

export default {
  name: "Pageheader",
  components: {
    Icon,
    Navigation,
  },
  mixins: [
    HostStyle,
    ParseProps,
  ],
  data: () => ({ }),
  methods: { },
  mounted() { }
};
</script>
