<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>JSF Pageheader (Standard)</small>
      <section class="test-bed">
        {{> @vue-pageheader--standard}}
      </section>
    </div>
  </div>
</div>