<!doctype html>
<html class="no-js" lang="DE">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fractal Pattern Library</title>
    <meta name="description" content="Fractal Pattern Library">

    <!-- Pattern Libary styles&scripts -->
    <link rel="stylesheet" href="{{ path '/css/main.css'}}">
    <link rel="stylesheet" href="{{ path '/css/fontawesome.min.css'}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ path '/apple-icon-180x180.png'}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ path '/favicon-32x32.png'}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ path '/favicon-16x16.png'}}">
    <link rel="manifest" href="{{ path '/manifest.json'}}">
    <link rel="shortcut icon" href="{{ path '/favicon.ico'}}">

    <script>
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "{{ path '/icons/icon-sprite.svg'}}", true);
      ajax.onload = function(e) {
        var div = document.createElement("div");
        div.classList.add('icon__sprite');
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      };
      ajax.send();
    </script>

  </head>
  <body {{bodymodifier}}>

    {{{ yield }}}

    <!-- toolkit scripts -->
    <script src="{{ path '/js/polyfills.js'}}" async></script>
    <script src="{{ path '/js/main.js'}}" async></script>
    <script src="{{ path '/js/fractal.js'}}" async></script>
    <!-- /toolkit scripts -->

  </body>
</html>
