.navigation,
[role='navigation'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation .navigation {
  padding-left: 2rem;
}

.navigation li.current > a .label {
  font-weight: $font--weight-bold;
}

.navigation li.active > a .label {
  font-weight: $font--weight-bold;
}