{{#with navigation}}
  {{#if navigation-wrap}}<nav>{{/if}}
  <{{#if navigation-ol}}ol{{else}}ul{{/if}} 
    role="{{#if navigation-role}}{{navigation-role}}{{^}}navigation{{/if}}"
    class="navigation {{navigation-class}}"
  >
    {{#each navigation-items}}
      <li 
        class="{{#if navigation-current}}current{{/if}} {{#if navigation-active}}active{{/if}} {{navigation-class}}" 
        {{{navigation-attr}}}
      >
        {{> @navigation--navlist-item}}
      </li>
    {{/each}}
  </{{#if navigation-ol}}ol{{else}}ul{{/if}}>
  {{#if navigation-wrap}}</nav>{{/if}}
{{/with}}
