// sprite with all icons as symbol
//stylelint-disable declaration-no-important
.icon__sprite {
  position: fixed !important;
  left: -9999rem !important;
  width: 0.1rem !important;
  overflow: hidden !important;
}
//stylelint-enable declaration-no-important
