<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row icon-list"></div>
  <div style="display: none;" id="shapes-source">[{{#shapes}}{"id":"{{name}}"},{{/shapes}}{"id":null}]</div>
</div>
