<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row icon-list"></div>
  <div style="display: none;" id="shapes-source">[{"id":"customs--add_user_male"},{"id":"customs--discord"},{"id":"customs--facebook"},{"id":"customs--marker"},{"id":"customs--people"},{"id":"customs--user_group_man_women"},{"id":"defaults--arrow-left"},{"id":"defaults--arrow-right"},{"id":"defaults--basket"},{"id":"defaults--basket-add"},{"id":"defaults--basket-checkmark"},{"id":"defaults--basket-close"},{"id":"defaults--basket-download"},{"id":"defaults--basket-update"},{"id":"defaults--close"},{"id":"defaults--delete"},{"id":"defaults--download"},{"id":"defaults--downloadcenter-checkmark"},{"id":"defaults--export-pdf"},{"id":"defaults--full-error"},{"id":"defaults--info"},{"id":"defaults--loading"},{"id":"defaults--login"},{"id":"defaults--logout"},{"id":"defaults--memorize"},{"id":"defaults--memorized"},{"id":"defaults--menu-close"},{"id":"defaults--menu-open"},{"id":"defaults--search"},{"id":"defaults--user"},{"id":"flags--de"},{"id":"flags--en"},{"id":"flags--fr"},{"id":"flags--it"},{"id":null}]</div>
</div>
