.icon {
  display: inline-flex;
  justify-content: center;
  align-content: center;

  svg {
    display: inline-flex;
    align-self: center;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    fill: currentColor;
    pointer-events: none;
  }

  use {
    pointer-events: none;
  }

  &.icon-xxs {
    svg {
      width: .55em;
      height: .55em;
    }
  }

  &.icon-xs {
    svg {
      width: .7em;
      height: .7em;
    }
  }

  &.icon-s {
    svg {
      width: .85em;
      height: .85em;
    }
  }

  &.icon-l {
    svg {
      width: 1.15em;
      height: 1.15em;
    }
  }

  &.icon-xl {
    svg {
      width: 1.3em;
      height: 1.3em;
    }
  }

  &.icon-xxl {
    svg {
      width: 1.45em;
      height: 1.45em;
    }
  }
}
