<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
    <div class="col-12">
      <small>normal</small>
      <section>
        {{> @icon--svg icon-normal}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-m-2">
      <small>xxs</small>
      <section>
        {{> @icon--svg icon-tiny}}
      </section>
    </div>
    <div class="col-xs-4 col-m-2">
      <small>xs</small>
      <section>
        {{> @icon--svg icon-verysmall}}
      </section>
    </div>
    <div class="col-xs-4 col-m-2">
      <small>s</small>
      <section>
        {{> @icon--svg icon-small}}
      </section>
    </div>
    <div class="col-xs-4 col-m-2">
      <small>l</small>
      <section>
        {{> @icon--svg icon-big}}
      </section>
    </div>
    <div class="col-xs-4 col-m-2">
      <small>xl</small>
      <section>
        {{> @icon--svg icon-large}}
      </section>
    </div>
    <div class="col-xs-4 col-m-2">
      <small>xxl</small>
      <section>
        {{> @icon--svg icon-huge}}
      </section>
    </div>
  </div>
</div>