<template>
    <i :class="'icon icon--'+ id">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use :xlink:href="'#' + id"></use>
        </svg>
    </i>
</template>

<script>
export default {
    name: 'Icon',
    props: {
        id: {
            type: String,
        }
    },
    data: function () {
        return {}
    },
    methods: {},
    mounted() { }
}
</script>
