h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font--family;
  font-family: $font--family-heading;
  font-weight: $font--weight-black;
  font-style: normal;
  text-rendering: auto;
  color: inherit;
  line-height: 1.6;
  margin: 0 0 1rem;
  color: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}
