i {
  font-style: italic;
}

b {
  font-weight: $font--weight-semibold;
}

strong {
  font-weight: $font--weight-bold;
}

span,
label {
  font-family: $font--family;
  font-weight: inherit;
  font-size: 1.6rem;
  line-height: 1.6;
  text-rendering: auto;
}

// All links with a role
a[role] {
  color: inherit;
  font-weight: $font--weight-regular;
}

p {
  color: inherit;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: $font--family;
  font-weight: $font--weight-regular;
  margin: 0 0 1rem;
  text-rendering: auto;

  // All standard links with no special role
  a:not([role]) {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }

    &:active {
      color: inherit;
      text-decoration: underline;
    }
  }
}

pre {
  color: inherit;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: $font--family;
  font-weight: $font--weight-regular;
  margin: 0 0 1rem;
}

code {
  color: inherit;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: $font--family;
  font-weight: $font--weight-regular;
  margin: 0 0 1rem;
}

hr {
  font-size: 1.6rem;
  line-height: 1.6;
  border: 0;
  border-top: 0.1rem solid $color--black-20;
  margin: 1rem 0;
}

small {
  color: inherit;
  font-size: 0.7em;
}
