ul,
ol {
  list-style-position: outside;
  margin-top: 0;
  margin-left: 0;
  padding-left: 1.6em;
  color: inherit;

  li {
    color: inherit;
  }

  li:not([class]) {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: $font--family;
    font-weight: $font--weight-regular;
    margin: 0 0 1rem;
    text-rendering: auto;
  }

  ul,
  ol {
    margin-top: 1.2rem;
    margin-left: 0;
    color: inherit;
  }
}

ul:not([role]):not([class]) {
  list-style: none;

  li {
    position: relative;

    &::before {
      content: '\2013';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1.6em;
    }
  }
}

ol:not([role]):not([class]) {
  list-style: none;
  counter-reset: ol-counter;

  li {
    position: relative;

    &::before {
      content: counter(ol-counter) '.';
      counter-increment: ol-counter;
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1.6em;
    }
  }
}
