$font--family: 'Ubuntu', Helvetica, Arial, sans-serif;
$font--family-heading: 'Ubuntu', Helvetica, Arial, sans-serif;

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: $font--family;
  font-weight: $font--weight-regular;
  font-style: normal;
}
