q {
  font-weight: $font--weight-bold;
  color: inherit;

  &::before {
    content: '\00ab';
  }

  &::after {
    content: '\00bb';
  }
}

blockquote {
  margin: 0 0 1rem;
  color: inherit;

  p {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: $font--weight-light;
    font-style: italic;
    position: relative;

    &::before {
      content: '\00ab';
      font-size: 1rem;
      display: inline-block;
      padding-right: 0.2em;
    }

    &::after {
      content: '\00bb';
      font-size: 1rem;
      display: inline-block;
      padding-left: 0.2em;
    }
  }

  footer {
    font-size: 1.4rem;
    font-weight: $font--weight-regular;
    width: 75%;
    color: inherit;
  }
}
