<blockquote cite="http://www.imdb.com/character/ch0000672/quotes">
  <p>Excepturi cumque error ab alias. accusantium praesentium sed nihil
    voluptas iusto. et est rem quia eos. fugit ducimus accusamus rerum
    nihil accusantium omnis nihil et et et. ad omnis totam aut incidunt
    molestiae ullam hic voluptatem et et nisi sed. praesentium et
    exercitationem aliquid earum suscipit occaecati est. odit laboriosam
    nam quis dolores officiis sapiente eos ipsum voluptates</p>
  <footer>
    Enim accusantium repellendus occaecati quis nulla cumque quia
    consequatur quo velit ut
  </footer>
</blockquote>