<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
    <div class="col-s-12">

      <small>Heading 1</small>
      <section>{{> @typography--h1}}</section>

      <small>Heading 2</small>
      <section>{{> @typography--h2}}</section>

      <small>Heading 3</small>
      <section>{{> @typography--h3}}</section>
      
      <small>Heading 4</small>
      <section>{{> @typography--h4}}</section>
      
      <small>Heading 5</small>
      <section>{{> @typography--h5}}</section>

      <small>Heading 6</small>
      <section>{{> @typography--h6}}</section>

    </div>
    <div class="col-s-12">

      <small>Paragraph</small>
      <section>{{> @typography--p}}</section>

      <small>Link</small>
      <section>{{> @typography--p-a}}</section>

      <small>Strong</small>
      <section>{{> @typography--p-strong}}</section>

      <small>Emphasis</small>
      <section>{{> @typography--p-em}}</section>

      <small>Bold</small>
      <section>{{> @typography--p-b}}</section>

      <small>Italic</small>
      <section>{{> @typography--p-i}}</section>

      <small>Underline</small>
      <section>{{> @typography--p-u}}</section>

      <small>Delete</small>
      <section>{{> @typography--p-del}}</section>

      <small>Insert</small>
      <section>{{> @typography--p-ins}}</section>

      <small>Strikethrough</small>
      <section>{{> @typography--p-strikethrough}}</section>

      <small>Sup</small>
      <section>{{> @typography--p-sup}}</section>

      <small>Sub</small>
      <section>{{> @typography--p-sub}}</section>

      <small>Small</small>
      <section>{{> @typography--p-small}}</section>

      <small>Abbreviation</small>
      <section>{{> @typography--p-abbr}}</section>

      <small>Keyboard</small>
      <section>{{> @typography--p-kbd}}</section>

      <small>Quote</small>
      <section>{{> @typography--p-q}}</section>

      <small>Citation</small>
      <section>{{> @typography--p-cite}}</section>

      <small>Definition</small>
      <section>{{> @typography--p-dfn}}</section>

      <small>Highlight</small>
      <section>{{> @typography--p-mark}}</section>

      <small>Code</small>
      <section>{{> @typography--p-code}}</section>

      <small>Sample</small>
      <section>{{> @typography--p-samp}}</section>

      <small>Variable</small>
      <section>{{> @typography--p-var}}</section>
    </div>
  </div>
</div>
<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-xs-6">
      <p>List placed as in a standalone context</p>

      <small>Unordered</small>
      <section>{{> @typography--ul}}</section>
      
      <small>Ordered</small>
      <section>{{> @typography--ol}}</section>
    </div>
    <div class="col-xs-6">
      <p>List placed inside a Paragraph context (f.e. as result of an RTE)</p>
      
      <small>Unordered</small>
      <section>{{> @typography--ul-p}}</section>

      <small>Ordered</small>
      <section>{{> @typography--ol-p}}</section>
    </div>
  </div>
</div>
<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-s-12">

      <small>Blockquote</small>
      <section>{{> @typography--blockquote}}</section>

    </div>
  </div>
</div>
<div class="stage pattern-showroom pattern-showroom--border">
  <div class="row">
    <div class="col-s-12">
      <small>Spacer with Line (small)</small>
      <section>{{> @typography--hr hr--class="spacer--s"}}</section>
    </div>
    <div class="col-s-12">
      <small>Spacer with Line (normal)</small>
      <section>{{> @typography--hr}}</section>
    </div>
    <div class="col-s-12">
      <small>Spacer with Line (big)</small>
      <section>{{> @typography--hr hr--class="spacer--l"}}</section>
    </div>
    <div class="col-s-12">
      <small>Spacer without Line (small)</small>
      <section>{{> @typography--hr hr--class="spacer--s spacer--no-line"}}</section>
    </div>
    <div class="col-s-12">
      <small>Spacer without Line (normal)</small>
      <section>{{> @typography--hr hr--class="spacer--no-line"}}</section>
    </div>
    <div class="col-s-12">
      <small>Spacer without Line (big)</small>
      <section>{{> @typography--hr hr--class="spacer--l spacer--no-line"}}</section>
    </div>
  </div>
</div>