.speechbubble {
  a {
    padding: .2rem .4rem;
  }

  .link {
    .label-icon {
      span {
        background-color: $color--black-80;
        color: $color--white;
        border-radius: 1.6rem;
        padding: .4rem 1.2rem;
        min-width: 7rem;
      }
    }
  }

  .label:not(.label-icon) {
    span {
      font-weight: $font--weight-regular;
    }
  }
}