<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
    <div class="col-12">
      <small>Speechbubble right</small>
      <section>
        {{> @speechbubble--right}}
      </section>
    </div>
  </div>
</div>