{{#with figure}}
<figure 
  class="figure {{figure-class}}"
>
  {{> @media--picture}}
  {{#if figure-caption}}
  <figcaption class="figure-caption">{{{figure-caption}}}</figcaption>
  {{/if}}
</figure>
{{/with}}
