{{#with picture}}
<picture 
  {{#if picture-title}}title="{{picture-title}}"{{/if}} 
  class="picture {{picture-class}}"
>
  {{#each picture-sources}}
    <source 
      srcset="{{path source}}" 
      {{#if viewport}}media="(min-width: {{viewport}}px)"{{/if}}
    >
  {{/each}}
  {{> @media--image}}
</picture>
{{/with}}
