{{#with image}}
<img
  role="img"
  alt="{{image-alt}}"
  class="image {{#if image-lazyload}}lazyload{{/if}} {{image-class}}"
  src="{{path image-source}}"
  {{#if image-lazyload}}data-src="{{image-lazyload}}" loading="lazy"{{/if}}
/>
{{/with}}
