
<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Figure</p>
    </div>
    <div class="col-s-6">
      <section>
        {{> @media--figure}}
      </section>
    </div>
    <div class="col-s-4">
      <section>
        {{> @media--figure}}
      </section>
    </div>
    <div class="col-s-2">
      <section>
        {{> @media--figure}}
      </section>
    </div>
  </div>
  <div class="row">>
    <div class="col-s-12">
      <p>Picture</p>
    </div>
    <div class="col-s-6">
      <section>
        {{> @media--picture}}
      </section>
    </div>
    <div class="col-s-4">
      <section>
        {{> @media--picture}}
      </section>
    </div>
    <div class="col-s-2">
      <section>
        {{> @media--picture}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-s-12">
      <p>Image</p>
    </div>
    <div class="col-s-6">
      <section>
        {{> @media--image}}
      </section>
    </div>
    <div class="col-s-4">
      <section>
        {{> @media--image}}
      </section>
    </div>
    <div class="col-s-2">
      <section>
        {{> @media--image}}
      </section>
    </div>
  </div>
</div>