<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-12">
      <p>Variants <small><a href="https://getbootstrap.com/docs/5.0/components/modal/" target="blank">Show Bootstrap Documentation</a></small></p>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Default</small>
      <section style="height: 50vh">
        {{> @modal--example1}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Static backdrop</small>
      <section style="height: 50vh">
        {{> @modal--example2}}
      </section>
    </div>
  </div>
</div>
