{{#with article-footer}}
<footer>
    {{#if article-link-arrow-right}}
      {{> @link--anchor article-link-arrow-right}}
    {{/if}}
    {{#if article-footer-details}}
      <details>{{{article-footer-details}}}</details>
    {{/if}}
</footer>
{{/with}}
