{{#with article}}
<article
  role="article"
  class="article {{article-class}}"
>
  {{#with link}}<a href="{{article-link}}" {{#if article-link-target}}target="{{article-link-target}}"{{/if}}>{{/with}}
  {{> @article--header}}
  {{> @article--main}}
  {{> @article--footer}}
  {{#with link}}</a>{{/with}}
</article>
{{/with}}
