<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row">
    <div class="col-s-12">
      <small>Standard</small>
      <section>
        {{> @article--body}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Header</p>
    </div>
    <div class="col-s-12">
      <small>Standard</small>
      <section>
        <article class="article">{{> @article--header}}</article>
      </section>
    </div>
    <div class="col-s-12">
      <small>Title</small>
      <section>
        <article class="article">{{> @article--header article-header-title}}</article>
      </section>
    </div>
    <div class="col-s-12">
      <small>Title and Subtitle</small>
      <section>
        <article class="article">{{> @article--header article-header-title-subtitle}}</article>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Main</p>
    </div>
    <div class="col-s-12">
      <small>Standard</small>
      <section>
        <article class="article">{{> @article--main article-main}}</article>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Footer</p>
    </div>
    <div class="col-s-12">
      <small>Standard</small>
      <section>
        <article class="article">{{> @article--footer article-footer}}</article>
      </section>
    </div>
    <div class="col-s-12">
      <small>Link only</small>
      <section>
        <article class="article">{{> @article--footer article-footer-link}}</article>
      </section>
    </div>
    <div class="col-s-12">
      <small>Details only</small>
      <section>
        <article class="article">{{> @article--footer article-footer-details}}</article>
      </section>
    </div>
  </div>
</div>