<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-12">
      <p>Variants <small><a href="https://getbootstrap.com/docs/5.0/components/alerts/" target="blank">Show Bootstrap Documentation</a></small></p>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Default</small>
      <section>
        {{> @alert--example1}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Additional content</small>
      <section>
        {{> @alert--example2}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Icons</small>
      <section>
        {{> @alert--example3}}
      </section>
    </div>
  </div>
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>Dismissing</small>
      <section>
        {{> @alert--example4}}
      </section>
    </div>
  </div>
</div>
