<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Header 1</p>
    </div>
    <div class="col-s-6">
      <small>Title</small>
      <section>
        {{> @header--h1 header-title}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and subtitle</small>
      <section>
        {{> @header--h1 header-title-subtitle}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and icon</small>
      <section>
        {{> @header--h1 header-title-icon}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title, subtitle and icon</small>
      <section>
        {{> @header--h1 header-title-subtitle-icon}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Header 2</p>
    </div>
    <div class="col-s-6">
      <small>Title</small>
      <section>
        {{> @header--h2 header-title}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and subtitle</small>
      <section>
        {{> @header--h2 header-title-subtitle}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and icon</small>
      <section>
        {{> @header--h2 header-title-icon}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title, subtitle and icon</small>
      <section>
        {{> @header--h2 header-title-subtitle-icon}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Header 3</p>
    </div>
    <div class="col-s-6">
      <small>Title</small>
      <section>
        {{> @header--h3 header-title}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and subtitle</small>
      <section>
        {{> @header--h3 header-title-subtitle}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and icon</small>
      <section>
        {{> @header--h3 header-title-icon}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title, subtitle and icon</small>
      <section>
        {{> @header--h3 header-title-subtitle-icon}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Header 4</p>
    </div>
    <div class="col-s-6">
      <small>Title</small>
      <section>
        {{> @header--h4 header-title}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and subtitle</small>
      <section>
        {{> @header--h4 header-title-subtitle}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and icon</small>
      <section>
        {{> @header--h4 header-title-icon}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title, subtitle and icon</small>
      <section>
        {{> @header--h4 header-title-subtitle-icon}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Header 5</p>
    </div>
    <div class="col-s-6">
      <small>Title</small>
      <section>
        {{> @header--h5 header-title}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and subtitle</small>
      <section>
        {{> @header--h5 header-title-subtitle}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and icon</small>
      <section>
        {{> @header--h5 header-title-icon}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title, subtitle and icon</small>
      <section>
        {{> @header--h5 header-title-subtitle-icon}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Header 6</p>
    </div>
    <div class="col-s-6">
      <small>Title</small>
      <section>
        {{> @header--h6 header-title}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and subtitle</small>
      <section>
        {{> @header--h6 header-title-subtitle}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title and icon</small>
      <section>
        {{> @header--h6 header-title-icon}}
      </section>
    </div>
    <div class="col-s-6">
      <small>Title, subtitle and icon</small>
      <section>
        {{> @header--h6 header-title-subtitle-icon}}
      </section>
    </div>
  </div>
</div>
