@import 'swiper/scss';

.frame-slider-main {

}

.ce-gallery {
  // .swiper {

  // }

  // .swiper-wrapper {

  // }

  .swiper-slide {
    figure {
      position: relative;
      max-height: 60rem;

    }

    figcaption {
      position: absolute;
      bottom: 3rem;
      left: 0;
      width: 100%;
      padding: 0 8rem;
      // opacity: 0;
      // margin-right: 8rem;
      // max-width: 40rem;
      // background-color: rgba($color--white, .4);
      // padding: 3.2rem;
      // border-radius: .8rem;
      color: rgba($color--white, .9);
      font-size: 2.4rem;
      font-weight: $font--weight-light;
      text-shadow: 0 0 .8rem rgba($color--black, .2);
      transition: bottom .6s ease-in-out;
      transition-delay: .3s;

      h2 {
        opacity: 0;
        transition: opacity .6s ease-in-out;
        transition-delay: .3s;
      }

      p {
        opacity: 0;
        transition: opacity .6s ease-in-out;
        transition-delay: .5s;
      }
    }

    img {
      width: 100%;
    }

    &.swiper-slide-active {
      figcaption {
        bottom: 6rem;
      }

      figcaption h2 {
        opacity: 1;
      }

      figcaption p {
        opacity: 1;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    text-align: center;
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: 3.2rem;
    height: .8rem;
    background-color: rgba($color--white, .4);
    border-radius: .8rem;
    margin: 0 .4rem;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
      background-color: $color--white;
    }
  }

  .swiper-button-next {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    background: rgba($color--white, .1);
    transition: background-color .3s ease-in-out;
    cursor: pointer;

    &::before {
      content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#fff" d="M8.1 22.9l-.7-.7 10.2-10.3-10.2-10.2.7-.7 10.9 10.9z"/></svg>');
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background: rgba($color--white, .2);
    }
  }

  .swiper-button-prev {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    background: rgba($color--white, .1);
    transition: background-color .3s ease-in-out;
    cursor: pointer;

    &::before {
      content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#fff" d="M15.9 22.9l-10.9-11 10.9-10.9.7.7-10.2 10.2 10.2 10.3z"/></svg>');
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background: rgba($color--white, .2);
    }
  }

  .swiper-disabled {
    .swiper-pagination,
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.image {

}
