<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
    <div class="col-12">
      <small>Gallery</small>
      <section>
        {{> @image--gallery-list}}
      </section>
    </div>
    <div class="col-12">
      <small>Banner</small>
      <section>
        {{> @image--banner-main}}
      </section>
    </div>
  </div>
</div>