{{#with slider-main}}
<div class="frame frame-slider-main frame-type-image frame-layout-0">
  {{> @header--h2}}
  <div class="ce-image ce-center ce-above">
    <div class="ce-gallery" data-ce-columns="1" data-ce-images="3">
      <div class="ce-outer">
        <div class="ce-inner">
          <div class="ce-row">
            <div class="ce-column">
              <figure class="figure">
                {{> @media--picture}}
                <figcaption class="figure-caption">
                  <div class="stage">
                    <div class="row">
                      <div class="col-s-12">
                        <h2>Incidunt excepturi cumque error</h2>
                        <p>Incidunt excepturi cumque error ab alias autem accusantium praesentium sed</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="ce-row">
            <div class="ce-column">
              <figure class="figure">
                {{> @media--picture}}
                <figcaption class="figure-caption">
                  <div class="stage">
                    <div class="row">
                      <div class="col-s-12">
                        <h2>Incidunt excepturi cumque error</h2>
                        <p>Incidunt excepturi cumque error ab alias autem accusantium praesentium sed</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="ce-row">
            <div class="ce-column">
              <figure class="figure">
                {{> @media--picture}}
                <figcaption class="figure-caption">
                  <div class="stage">
                    <div class="row">
                      <div class="col-s-12">
                        <h2>Incidunt excepturi cumque error</h2>
                        <p>Incidunt excepturi cumque error ab alias autem accusantium praesentium sed</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}