{{#with slider-main}}
<div class="frame frame-slider-main frame-type-image frame-layout-0">
  <div class="ce-image ce-center ce-above">
    <div class="ce-gallery" data-ce-columns="1" data-ce-images="3">
      <div class="ce-outer">
        <div class="ce-inner">
          <div class="ce-row">
            <div class="ce-column">
              {{> @media--figure}}
            </div>
          </div>
          <div class="ce-row">
            <div class="ce-column">
              {{> @media--figure}}
            </div>
          </div>
          <div class="ce-row">
            <div class="ce-column">
              {{> @media--figure}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}