{{render '@pageheader'}}
{{render '@image--slider-main'}}
<div class="stage">
  <div class="row">
    <div class="col-12">
      {{> @typography--hr hr--class="spacer--l spacer--no-line"}}
      {{render '@header--h1'}}
    </div>
    <div class="col-12 col-m-6">
      {{render '@article--main'}}
    </div>
    {{> @typography--hr hr--class="spacer--l spacer--no-line"}}
    <div class="col-12">
      {{render '@article--header'}}
    </div>
    <div class="col-12 col-m-6">
      {{render '@typography--p'}}
      {{render '@article--main'}}
    </div>
    <div class="col-12 col-m-6">
      {{render '@image--slider-main'}}
    </div>
  </div>
</div>
{{> @typography--hr hr--class="spacer--l spacer--no-line"}}
<div class="area-layout-1">
  <div class="stage">
    <div class="row">
      <div class="col-12 col-m-4">
        {{render '@media--picture'}}
      </div>
      <div class="col-12 col-m-4">
        {{render '@media--picture'}}
      </div>
      <div class="col-12 col-m-4">
        {{render '@media--picture'}}
      </div>
    </div>
  </div>
</div>
{{> @typography--hr hr--class="spacer--l spacer--no-line"}}
<div class="stage">
  <div class="row">
    <div class="col-12 col-m-6">
      {{render '@typography--p'}}
    </div>
    <div class="col-12 col-m-6">
      {{render '@typography--p'}}
    </div>
  </div>
</div>
{{> @typography--hr hr--class="spacer--l spacer--no-line"}}
{{render '@pagefooter'}}
