<template>
  <div>
    <h1><icon id="defaults--user"></icon> {{ title }}</h1>
    <p>Prop1: {{ parsedProps.demo1 }}</p>
    <p>Prop2: {{ demo2Parsed.item }}</p>
    <p>Some dynamic counter: {{ counter }}</p>
  </div>
</template>
<script>
import HostStyle from "../../00-mixins/host-style.vue";
import ParseProps from "../../00-mixins/parse-props.vue";

import Icon from "../../01-partials/vue-icon/icon.vue";

export default {
  name: "Demo",
  components: {
    Icon,
  },
  mixins: [
    HostStyle,
    ParseProps,
  ],
  data: () => ({
    title: "Hello World Example",
    counter: 1,
    demo2Parsed: {},
  }),
  methods: {
    increment() {
      this.counter += 1;
    }
  },
  mounted() {
    setInterval(this.increment, 1000);
    console.log({demo1: this.parsedProps.demo1});
    console.log({demo2: this.parsedProps.demo2});
    // Workaround, because for some reason vue do not let me access 'parsedProps.demo2.item' directly in the template
    this.demo2Parsed = this.parsedProps.demo2;
  }
};
</script>
