<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>JSF Demo</small>
      <section>
        <jsf-demo demo1="{{demo-prop1}}" demo2="{{demo-prop2}}"></jsf-demo>
      </section>
    </div>
  </div>
</div>