.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: .4rem .8rem;
  border-radius: .4rem;
  color: $color--black;
  background-color: $color--black-10;
  box-shadow: inset 0 0 .4rem $color--white;
}

.button-primary {
  color: $color--white;
  background-color: $color--blue;
}
