<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
    <div class="col-s-4">
      <small>normal</small>
      <section>
        {{> @link--anchor link-default}}
      </section>
    </div>
    <div class="col-s-4">
      <small>icon left</small>
      <section>
        {{> @link--anchor link-arrow-left}}
      </section>
    </div>
    <div class="col-s-4">
      <small>icon right</small>
      <section>
        {{> @link--anchor link-arrow-right}}
      </section>
    </div>
  </div>
</div>
