<template>
  <div>
    <h1>{{ title }}</h1>
    
    <div ref="carousel" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          v-for="slide in slides"
          class="carousel-item"
          :class="slide.class"
        >
          <picture :title="slide.title" class="picture d-block w-100">
            <source
              v-for="source in sources"
              :srcset="source.img"
              :media="source.vp"
            >
            <img role="img" :alt="slide.alt" class="image lazyload example-image-class" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw&#x3D;&#x3D;" :data-src="slide.img" loading="lazy" />
          </picture>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</template>
<script>

import HostStyle from "../../00-mixins/host-style.vue";
import ParseProps from "../../00-mixins/parse-props.vue";

const Carousel = require('bootstrap/js/dist/carousel');

export default {
  name: "BootstrapCarousel",
  mixins: [
    HostStyle,
    ParseProps,
  ],
  data: () => ({
    title: "JSF Bootstrap Carousel Example",
    carousel: null,
    slides: [
      {
        class: 'active',
        title: 'Picture title text',
        alt: 'Image alternative text',
        img: 'https://picsum.photos/1024/768/?random&amp;blur'
      },
      {
        class: null,
        title: 'Picture title text',
        alt: 'Image alternative text',
        img: 'https://picsum.photos/1024/768/?random&amp;blur'
      },
      {
        class: null,
        title: 'Picture title text',
        alt: 'Image alternative text',
        img: 'https://picsum.photos/1024/768/?random&amp;blur'
      },
    ],
    sources: [
      {
        vp: '(min-width: 2400px)',
        img: 'https://picsum.photos/2400/800/?random&amp;blur'
      },
      {
        vp: '(min-width: 1200px)',
        img: 'https://picsum.photos/1200/500/?random&amp;blur'
      },
      {
        vp: '(min-width: 1000px)',
        img: 'https://picsum.photos/1000/400/?random&amp;blur'
      },
      {
        vp: '(min-width: 800px)',
        img: 'https://picsum.photos/800/300/?random&amp;blur'
      },
      {
        vp: '(min-width: 600px)',
        img: 'https://picsum.photos/600/200/?random&amp;blur'
      },
      {
        vp: '(min-width: 400px)',
        img: 'https://picsum.photos/400/160/?random&amp;blur'
      },
      {
        vp: null,
        img: 'https://picsum.photos/300/120/?random&amp;blur'
      },
    ]
  }),
  methods: {},
  mounted() {
    this.carousel = new Carousel(this.$refs.carousel, {
      interval: 2000
    });
  }
};
</script>
