<div class="container stage">
  <div class="row pattern-showroom">
    <div class="col-s-12">
      <small>JSF Slider</small>
      <section>
        <jsf-bootstrap-slider></jsf-bootstrap-slider>
      </section>
    </div>
  </div>
</div>