.row {
  @for $i from 1 through length($breakpoints) {
    @media screen and (min-width: nth($sizes, $i)) {
      $mq: nth($breakpoints, $i);

      @for $j from 1 through 10 {
        &.row--small .col-#{$mq}-#{$j} {
          max-width: calc(100% / 10 * $j);
        }
      }
    }
  }
}
