$breakpoints: xs, s, m, l, xl, xxl;
$sizes: #{$mq-xs}, #{$mq-s}, #{$mq-m}, #{$mq-l}, #{$mq-xl}, #{$mq-xxl};
$grid-gap: 1rem;
$grid-demo-color: magenta;
$grid-demo-height: 6.6rem;
$stage-maxWidth: $page-maxWidth + $grid-gap + $grid-gap;

.stage {
  max-width: $page-maxWidth;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$grid-gap});
  margin-left: -$grid-gap !important;

  .row {
    margin-top: -$grid-gap;
  }

  &.stage {
    max-width: $stage-maxWidth;
    padding: 0 $grid-gap;
  }

  &.row--start {
    margin-top: -$grid-gap;
  }

  &.row--end {
    margin-bottom: $grid-gap;
  }

  // Align left
  &.row--left {
    text-align: left;
  }

  // Align center
  &.row--center {
    text-align: center;
  }

  // Align right
  &.row--right {
    text-align: right;
  }

  // Align columns left
  &.row--align-left {
    justify-content: flex-start;
  }

  // Center columns
  &.row--align-center {
    justify-content: center;
  }

  // Align columns right
  &.row--align-right {
    justify-content: flex-end;
  }

  [class*='col-'] {
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    line-height: initial;
    width: 100%;
    max-width: 100%;
    border-top: $grid-gap solid transparent;
    border-left: $grid-gap solid transparent;

    // If no alignent isset reset to default
    &:not([class*='align-']) {
      text-align: left;
    }

    // Add grid gap to any element with class row--gap-bottom
    .row--gap-bottom {
      border-bottom: $grid-gap solid transparent;
    }
  }

  @for $i from 1 through length($breakpoints) {
    @media screen and (min-width: nth($sizes, $i)) {
      $mq: nth($breakpoints, $i);

      .col-#{$mq}-0 {
        width: 0;
        max-width: 0;
        overflow: hidden;
      }

      @for $j from 1 through 12 {
        .col-#{$mq}-#{$j} {
          max-width: calc(100% / 12 * $j);
        }
      }
    }
  }
}

// Make grid visible for demonstration
.row .show-grid,
.show-grid .row {
  [class*='col-'] {
    position: relative;
    min-height: $grid-demo-height;

    &::before,
    &::after {
      content: attr(data-grid-example-text);
      display: flex;
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0.2rem solid $grid-demo-color;
      background: rgba($grid-demo-color, 0.2);
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      line-height: 1.6;
      padding: 0.8rem 1.6rem;
    }

    &::before {
      content: '';
      background-color: white;
    }

    i {
      white-space: nowrap;
    }

    @for $i from 1 through length($breakpoints) {
      @media screen and (min-width: nth($sizes, $i)) {
        $mq: nth($breakpoints, $i);

        .marker-#{$mq} {
          color: $grid-demo-color;
        }
      }
    }
  }
}
