<div class="pattern-showroom-simple">
  <p>Responsive Grid</p>
  <p>Default 12</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-xs-12" data-grid-example-text="col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-s-6" data-grid-example-text="col-s-6"></div>
      <div class="col-s-6" data-grid-example-text="col-s-6"></div>
    </div>
    <div class="row">
      <div class="col-s-4" data-grid-example-text="col-s-4"></div>
      <div class="col-s-4" data-grid-example-text="col-s-4"></div>
      <div class="col-s-4" data-grid-example-text="col-s-4"></div>
    </div>
    <div class="row">
      <div class="col-s-4" data-grid-example-text="col-s-4"></div>
      <div class="col-s-4" data-grid-example-text="col-s-4"></div>
    </div>
    <div class="row">
      <div class="col-s-4" data-grid-example-text="col-s-4"></div>
      <div class="col-s-8" data-grid-example-text="col-s-8"></div>
    </div>
    <div class="row">
      <div class="col-s-6 col-l-3" data-grid-example-text="col-s-6, col-l-3"></div>
      <div class="col-s-6 col-l-3" data-grid-example-text="col-s-6, col-l-3"></div>
      <div class="col-s-6 col-l-3" data-grid-example-text="col-s-6, col-l-3"></div>
      <div class="col-s-6 col-l-3" data-grid-example-text="col-s-6, col-l-3"></div>
    </div>
    <div class="row">
      <div class="col-s-4 col-l-3" data-grid-example-text="col-s-8, col-l-9"></div>
      <div class="col-s-8 col-l-9" data-grid-example-text="col-s-8, col-l-9"></div>
    </div>
    <div class="row">
      <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
      <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
      <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
      <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
      <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
      <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
    </div>
  </div>
</div>

<div class="pattern-showroom-simple">
  <p>Default 12, 2 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Default 12, 3 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Overflow, 2 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Aligned</p>
  <p>Align left</p>
  <div class="stage show-grid">
    <div class="row row--align-left">
      <div class="col-m-3" data-grid-example-text="col-m-3"></div>
    </div>
    <div class="row row--align-left">
      <div class="col-m-4" data-grid-example-text="col-m-4"></div>
    </div>
    <div class="row row--align-left">
      <div class="col-m-6" data-grid-example-text="col-m-6"></div>
    </div>
    <div class="row row--align-left">
      <div class="col-m-8" data-grid-example-text="col-m-8"></div>
    </div>
    <div class="row row--align-left">
      <div class="col-m-9" data-grid-example-text="col-m-9"></div>
    </div>
    <div class="row row--align-left">
      <div class="col-m-12" data-grid-example-text="col-m-12"></div>
    </div>
  </div>
  <p>Align center</p>
  <div class="stage show-grid">
    <div class="row row--align-center">
      <div class="col-m-3" data-grid-example-text="col-m-3"></div>
    </div>
    <div class="row row--align-center">
      <div class="col-m-4" data-grid-example-text="col-m-4"></div>
    </div>
    <div class="row row--align-center">
      <div class="col-m-6" data-grid-example-text="col-m-6"></div>
    </div>
    <div class="row row--align-center">
      <div class="col-m-8" data-grid-example-text="col-m-8"></div>
    </div>
    <div class="row row--align-center">
      <div class="col-m-9" data-grid-example-text="col-m-9"></div>
    </div>
    <div class="row row--align-center">
      <div class="col-m-12" data-grid-example-text="col-m-12"></div>
    </div>
  </div>
  <p>Align right</p>
  <div class="stage show-grid">
    <div class="row row--align-right">
      <div class="col-m-3" data-grid-example-text="col-m-3"></div>
    </div>
    <div class="row row--align-right">
      <div class="col-m-4" data-grid-example-text="col-m-4"></div>
    </div>
    <div class="row row--align-right">
      <div class="col-m-6" data-grid-example-text="col-m-6"></div>
    </div>
    <div class="row row--align-right">
      <div class="col-m-8" data-grid-example-text="col-m-8"></div>
    </div>
    <div class="row row--align-right">
      <div class="col-m-9" data-grid-example-text="col-m-9"></div>
    </div>
    <div class="row row--align-right">
      <div class="col-m-12" data-grid-example-text="col-m-12"></div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Align left, 2 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-left">
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-left">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-left">
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
  <p>Align center, 2 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-center">
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-center">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-center">
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
  <p>Align right, 2 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-right">
          <div class="col-s-6" data-grid-example-text="col-s-6"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-right">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row row--align-right">
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
          <div class="col-s-6 col-m-4 col-l-2" data-grid-example-text="col-s-6, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Align left, 3 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row row--align-left">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row row--align-left">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Align center, 3 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row row--align-center">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row row--align-center">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Align right, 3 Level</p>
  <div class="stage show-grid">
    <div class="row">
      <div class="col-s-12" data-grid-example-text="col-s-12">
        <div class="row">
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row row--align-right">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
          <div class="col-s-6" data-grid-example-text="col-s-6">
            <div class="row row--align-right">
              <div class="col-s-6" data-grid-example-text="col-s-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>