<div class="pattern-showroom-simple">
  <p>Responsive Grid</p>
  <p>Small 10</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-xs-10" data-grid-example-text="col-xs-10"></div>
    </div>
    <div class="row row--small">
      <div class="col-s-5" data-grid-example-text="col-s-5"></div>
      <div class="col-s-5" data-grid-example-text="col-s-5"></div>
    </div>
    <div class="row row--small">
      <div class="col-s-3" data-grid-example-text="col-s-3"></div>
      <div class="col-s-4" data-grid-example-text="col-s-4"></div>
      <div class="col-s-3" data-grid-example-text="col-s-3"></div>
    </div>
    <div class="row row--small">
      <div class="col-s-2" data-grid-example-text="col-s-2"></div>
      <div class="col-s-2" data-grid-example-text="col-s-2"></div>
      <div class="col-s-2" data-grid-example-text="col-s-2"></div>
      <div class="col-s-2" data-grid-example-text="col-s-2"></div>
      <div class="col-s-2" data-grid-example-text="col-s-2"></div>
    </div>
    <div class="row row--small">
      <div class="col-s-5 col-l-2" data-grid-example-text="col-s-5, col-l-2"></div>
      <div class="col-s-5 col-l-2" data-grid-example-text="col-s-5, col-l-2"></div>
      <div class="col-s-5 col-l-2" data-grid-example-text="col-s-5, col-l-2"></div>
      <div class="col-s-5 col-l-2" data-grid-example-text="col-s-5, col-l-2"></div>
      <div class="col-s-10 col-l-2" data-grid-example-text="col-s-10, col-l-2"></div>
    </div>
    <div class="row row--small">
      <div class="col-s-4 col-l-3" data-grid-example-text="col-s-4, col-l-3"></div>
      <div class="col-s-6 col-l-7" data-grid-example-text="col-s-6, col-l-7"></div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Small 10, 2 Level</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-3" data-grid-example-text="col-s-3"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-3" data-grid-example-text="col-s-3"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Small 10, 3 Level</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--small">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--small">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Overflow, 2 Level</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Aligned</p>
  <p>Align left</p>
  <div class="stage show-grid">
    <div class="row row--small row--align-left">
      <div class="col-m-3" data-grid-example-text="col-m-3"></div>
    </div>
    <div class="row row--small row--align-left">
      <div class="col-m-4" data-grid-example-text="col-m-4"></div>
    </div>
    <div class="row row--small row--align-left">
      <div class="col-m-5" data-grid-example-text="col-m-5"></div>
    </div>
    <div class="row row--small row--align-left">
      <div class="col-m-6" data-grid-example-text="col-m-6"></div>
    </div>
    <div class="row row--small row--align-left">
      <div class="col-m-7" data-grid-example-text="col-m-7"></div>
    </div>
    <div class="row row--small row--align-left">
      <div class="col-m-8" data-grid-example-text="col-m-8"></div>
    </div>
    <div class="row row--small row--align-left">
      <div class="col-m-9" data-grid-example-text="col-m-9"></div>
    </div>
    <div class="row row--small row--align-left">
      <div class="col-m-10" data-grid-example-text="col-m-10"></div>
    </div>
  </div>
  <p>Align center</p>
  <div class="stage show-grid">
    <div class="row row--small row--align-center">
      <div class="col-m-3" data-grid-example-text="col-m-3"></div>
    </div>
    <div class="row row--small row--align-center">
      <div class="col-m-4" data-grid-example-text="col-m-4"></div>
    </div>
    <div class="row row--small row--align-center">
      <div class="col-m-5" data-grid-example-text="col-m-5"></div>
    </div>
    <div class="row row--small row--align-center">
      <div class="col-m-6" data-grid-example-text="col-m-6"></div>
    </div>
    <div class="row row--small row--align-center">
      <div class="col-m-7" data-grid-example-text="col-m-7"></div>
    </div>
    <div class="row row--small row--align-center">
      <div class="col-m-8" data-grid-example-text="col-m-8"></div>
    </div>
    <div class="row row--small row--align-center">
      <div class="col-m-9" data-grid-example-text="col-m-9"></div>
    </div>
    <div class="row row--small row--align-center">
      <div class="col-m-10" data-grid-example-text="col-m-10"></div>
    </div>
  </div>
  <p>Align right</p>
  <div class="stage show-grid">
    <div class="row row--small row--align-right">
      <div class="col-m-3" data-grid-example-text="col-m-3"></div>
    </div>
    <div class="row row--small row--align-right">
      <div class="col-m-4" data-grid-example-text="col-m-4"></div>
    </div>
    <div class="row row--small row--align-right">
      <div class="col-m-5" data-grid-example-text="col-m-5"></div>
    </div>
    <div class="row row--small row--align-right">
      <div class="col-m-6" data-grid-example-text="col-m-6"></div>
    </div>
    <div class="row row--small row--align-right">
      <div class="col-m-7" data-grid-example-text="col-m-7"></div>
    </div>
    <div class="row row--small row--align-right">
      <div class="col-m-8" data-grid-example-text="col-m-8"></div>
    </div>
    <div class="row row--small row--align-right">
      <div class="col-m-9" data-grid-example-text="col-m-9"></div>
    </div>
    <div class="row row--small row--align-right">
      <div class="col-m-10" data-grid-example-text="col-m-10"></div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Responsive Grid (alignment, 2 level)</p>
  <p>Align left</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-left">
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-left">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-left">
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
  <p>Align center</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-center">
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-center">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-center">
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
  <p>Align right</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-right">
          <div class="col-s-5" data-grid-example-text="col-s-5"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-right">
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
          <div class="col-s-4" data-grid-example-text="col-s-4"></div>
        </div>
      </div>
    </div>
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--align-right">
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
          <div class="col-s-5 col-m-4 col-l-2" data-grid-example-text="col-s-5, col-m-4, col-l-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-showroom-simple">
  <p>Responsive Grid (alignment, 3 level)</p>
  <p>Align left</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--align-left">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--align-left">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Align center</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--align-center">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--align-center">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Align right</p>
  <div class="stage show-grid">
    <div class="row row--small">
      <div class="col-s-10" data-grid-example-text="col-s-10">
        <div class="row row--small">
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--align-right">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
          <div class="col-s-5" data-grid-example-text="col-s-5">
            <div class="row row--align-right">
              <div class="col-s-5" data-grid-example-text="col-s-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>