<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      {{> @media--picture}}
    </div>
    <div class="carousel-item">
      {{> @media--picture}}
    </div>
    <div class="carousel-item">
      {{> @media--picture}}
    </div>
  </div>
</div>