.pagefooter {
  background-color: var(--background-color-neg);
  color: var(--font-color-neg);
  padding: 4rem 0;

  .row > div {
    padding-right: 4rem;
  }
}

.pagefooter-logo {
  font-size: 3.2rem;
}

.pagefooter-nav {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;

  > li {
    padding-right: 4rem;
    padding-bottom: 4rem;
  }

  li {
    a {
      &:hover {
        opacity: .7;
      }
    }
  }
}

.pagefooter-sub {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;

  > span {
    display: inline-block;
    margin: 0 2rem;
  }
}

.pagefooter-subnav {
  display: inline-block;
  text-align: center;
  margin: 0 2rem;

  li {
    display: inline-block;

    &::after {
      content: "•";
      display: inline-block;
      margin: 0 1rem;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    a {
      font-size: 1rem;

      &:hover {
        opacity: .7;
      }
    }
  }
}
