<footer class="pagefooter">
  <div class="stage">
    <div class="row">
      <div class="col-12 col-m-4">
        <p>
          <a href="/" title="Logo" class="pagefooter-logo">
            {{> @icon--svg pagefooter-logo}}
          </a>
        </p>
        {{> @typography--p}}
      </div>
      <div class="col-12 col-m-8">
        {{> @navigation--navlist pagefooter-nav}}
      </div>
      <div class="col-12">
        <sub class="pagefooter-sub">
          <span>&copy; Firegroup 2022</span>
          {{> @navigation--navlist pagefooter-subnav}}
        </sub>
      </div>
    </div>
  </div>
</footer>