<tbody>
  {{#each table--tbody}}
    <tr class="{{table-body-class}}">
      {{#each table-body-cols}}
        <td class="{{table-body-col-class}}">{{table-body-col-value}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
