.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  margin: 0;

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  th {
    font-size: 1.8rem;
    line-height: 1.4;
    vertical-align: top;
    font-weight: $font--weight-medium;
    padding: .8rem 1.6rem;
  }

  td {
    border: 0.1rem solid $color--black-10;
    font-size: 1.8rem;
    line-height: 1.4;
    vertical-align: top;
    text-align: left;
    padding: .8rem 1.6rem;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  thead {
    background-color: $color--black-80;
    color: $color--white;
  }

  tbody {
    tr:nth-child(even) {
      background-color: $color--black-10;
    }
  }

  tfoot {
    background-color: $color--black-80;
    color: $color--white;
  }
}
