<div class="stage pattern-showroom">
  <div class="row">
    <div class="col-12">
      <p>Variants</p>
    </div>
  </div>
  <div class="row">
    <div class="col-s-4">
      <small>Header</small>
      <section>
        <table class="table">{{> @table--thead}}</table>
      </section>
    </div>
    <div class="col-s-4">
      <small>Main</small>
      <section>
        <table class="table">{{> @table--tbody}}</table>
      </section>
    </div>
    <div class="col-s-4">
      <small>Footer</small>
      <section>
        <table class="table">{{> @table--tfoot}}</table>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-s-12">
      <small>Complete</small>
      <section>
        {{> @table--standard}}
      </section>
    </div>
  </div>
</div>